{% extends 'base.html' %}

{% block content %}
{% for quizes in quizes_list %}
    {% for colname in quizes.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
       
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Title</th>
                    <th class="text-center" scope="col">Description</th>
                  
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for quizes in quizes_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'quizes:quizes_detail' quizes.id %}">{{quizes.title}}</a></td>
                    <td class="text-center">{{quizes.year}}</td>
                    <td class="text-center">{{quizes.description}}</td>
          
                    <td><a href="{% url 'quizes:quizes_update' quizes.id %} ">Update</a></td>
                    <td><a href="{% url 'quizes:quizes_delete' quizes.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        
            </tbody>
        </table>    
        <div class="d-flex justify-quizes-center">
            <a href="{% url 'quizes:quizes_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New</a>
        </div>
    </div>
        
</div>

{% endblock content %}